In [1]:
from mysql.connector import errorcode
import mysql.connector 
import pandas as pd

In [5]:
def connect(host, database, user, password):

    try:
        connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
        if connection != None:
            return connection          
        
    except mysql.connector.Error as error:    
        if error.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database não existe")
                    
        if error.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Usuáro ou  senha  está errado")
            print(error)       
    return 
      
def execute_query(connection, query:str, data:tuple=''):

    try:
        cursor = connection.cursor()
        if data != '':
            cursor.execute(query, data)
            result = cursor.fetchall()
            connection.commit()
        else: 
            cursor.execute(query)
            result = cursor.fetchall()
            connection.commit()
                    
            return result 
    except mysql.connector.Error as error:
        return "Erro: {}".format(error.msg)
    finally:
        if connection.is_connected:
            connection.close()

In [16]:
from_db = []
connection = connect('localhost','csgo','root','gogu7894')
query = ''' select * from players; '''
results = execute_query(connection=connection, query=query)

for result in results:
  result = list(result)
  from_db.append(result)

columns = ["Date_", "player_name", "team", "opponent", "country", "player_id", "match_id", "event_id", "event_name", "best_of", "map_1", "map_2", "map_3", "kills", 
           "assists", "deaths", "hs", "flash_assists", "kast", "kddiff", "adr", "fkdiff", "rating", "m1_kills", "m1_assists", "m1_deaths", "m1_hs", "m1_flash_assists", 
           "m1_kast", "m1_kddiff", "m1_adr", "m1_fkdiff", "m1_rating", "m2_kills", "m2_assists", "m2_deaths", "m2_hs", "m2_flash_assists", "m2_kast", "m2_kddiff", "m2_adr", 
           "m2_fkdiff", "m2_rating", "m3_kills", "m3_assists", "m3_deaths", "m3_hs", "m3_flash_assists", "m3_kast", "m3_kddiff", "m3_adr", "m3_fkdiff", "m3_rating", "kills_ct", 
           "deaths_ct", "kddiff_ct", "adr_ct", "kast_ct", "rating_ct", "kills_t", "deaths_t", "kddiff_t", "adr_t", "kast_t", "rating_t", "m1_kills_ct", "m1_deaths_ct", "m1_kddiff_ct", 
           "m1_adr_ct", "m1_kast_ct", "m1_rating_ct", "m1_kills_t", "m1_deaths_t", "m1_kddiff_t", "m1_adr_t", "m1_kast_t", "m1_rating_t", "m2_kills_ct", "m2_deaths_ct", "m2_kddiff_ct", 
           "m2_adr_ct", "m2_kast_ct", "m2_rating_ct", "m2_kills_t", "m2_deaths_t", "m2_kddiff_t", "m2_adr_t", "m2_kast_t", "m2_rating_t", "m3_kills_ct", "m3_deaths_ct", "m3_kddiff_ct", 
           "m3_adr_ct", "m3_kast_ct", "m3_rating_ct", "m3_kills_t", "m3_deaths_t", "m3_kddiff_t", "m3_adr_t", "m3_kast_t", "m3_rating_t"]

df_original = pd.DataFrame(from_db, columns=columns)

In [17]:
display(df_original.head(10))

,Date_,player_name,team,opponent,country,player_id,match_id,event_id,event_name,best_of,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
0,2020-02-26,Brehze,Evil Geniuses,Liquid,United States,9136,2339385,4901,IEM Katowice 2020,3,...,-1,72.5,80.0,0.93,7,9,-2,70.4,63.6,0.89
1,2020-02-26,CeRq,Evil Geniuses,Liquid,Bulgaria,11219,2339385,4901,IEM Katowice 2020,3,...,3,79.5,53.3,1.12,4,8,-4,40.7,54.5,0.53
2,2020-02-26,EliGE,Liquid,Evil Geniuses,United States,8738,2339385,4901,IEM Katowice 2020,3,...,1,81.5,63.6,1.03,9,9,0,87.9,73.3,1.05
3,2020-02-26,Ethan,Evil Geniuses,Liquid,United States,10671,2339385,4901,IEM Katowice 2020,3,...,0,67.2,66.7,0.97,1,9,-8,14.8,45.5,0.31
4,2020-02-26,NAF,Liquid,Evil Geniuses,Canada,8520,2339385,4901,IEM Katowice 2020,3,...,-1,72.9,81.8,0.96,8,7,1,56.3,80.0,0.99
5,2020-02-26,Stewie2K,Liquid,Evil Geniuses,United States,8797,2339385,4901,IEM Katowice 2020,3,...,2,65.1,81.8,1.09,9,12,-3,70.8,66.7,0.95
6,2020-02-26,Twistzz,Liquid,Evil Geniuses,Canada,10394,2339385,4901,IEM Katowice 2020,3,...,10,113.0,90.9,1.84,11,8,3,81.9,73.3,1.33
7,2020-02-26,nitr0,Liquid,Evil Geniuses,United States,7687,2339385,4901,IEM Katowice 2020,3,...,4,91.4,72.7,1.27,11,11,0,64.1,80.0,1.25
8,2020-02-26,stanislaw,Evil Geniuses,Liquid,Canada,8507,2339385,4901,IEM Katowice 2020,3,...,-2,74.9,73.3,0.91,7,8,-1,77.5,54.5,1.08
9,2020-02-26,tarik,Evil Geniuses,Liquid,United States,8523,2339385,4901,IEM Katowice 2020,3,...,-1,76.9,86.7,1.03,7,8,-1,72.5,54.5,0.96

In [20]:
df_original.info(max_cols=101) #Verificar as informações sobre as variáveis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383317 entries, 0 to 383316
Data columns (total 101 columns):
 #    Column            Non-Null Count   Dtype
---   ------            --------------   -----
 0    Date_             383317 non-null  object
 1    player_name       383317 non-null  object
 2    team              383317 non-null  object
 3    opponent          383317 non-null  object
 4    country           383317 non-null  object
 5    player_id         383317 non-null  int64
 6    match_id          383317 non-null  int64
 7    event_id          383317 non-null  int64
 8    event_name        383317 non-null  object
 9    best_of           383317 non-null  int64
 10   map_1             383317 non-null  object
 11   map_2             383317 non-null  object
 12   map_3             383317 non-null  object
 13   kills             383317 non-null  int64
 14   assists           383317 non-null  int64
 15   deaths            383317 non-null  int64
 16   hs                383317 non-null  int64
 17   flash_assists     383317 non-null  float64
 18   kast              383317 non-null  float64
 19   kddiff            383317 non-null  int64
 20   adr               383317 non-null  float64
 21   fkdiff            383317 non-null  int64
 22   rating            383317 non-null  float64
 23   m1_kills          383317 non-null  int64
 24   m1_assists        383317 non-null  int64
 25   m1_deaths         383317 non-null  int64
 26   m1_hs             383317 non-null  int64
 27   m1_flash_assists  383317 non-null  float64
 28   m1_kast           383317 non-null  float64
 29   m1_kddiff         383317 non-null  int64
 30   m1_adr            383317 non-null  float64
 31   m1_fkdiff         383317 non-null  int64
 32   m1_rating         383317 non-null  float64
 33   m2_kills          383317 non-null  int64
 34   m2_assists        383317 non-null  int64
 35   m2_deaths         383317 non-null  int64
 36   m2_hs             383317 non-null  int64
 37   m2_flash_assists  383317 non-null  float64
 38   m2_kast           383317 non-null  float64
 39   m2_kddiff         383317 non-null  int64
 40   m2_adr            383317 non-null  float64
 41   m2_fkdiff         383317 non-null  int64
 42   m2_rating         383317 non-null  float64
 43   m3_kills          383317 non-null  float64
 44   m3_assists        383317 non-null  int64
 45   m3_deaths         383317 non-null  int64
 46   m3_hs             383317 non-null  int64
 47   m3_flash_assists  383317 non-null  float64
 48   m3_kast           383317 non-null  float64
 49   m3_kddiff         383317 non-null  int64
 50   m3_adr            383317 non-null  float64
 51   m3_fkdiff         383317 non-null  int64
 52   m3_rating         383317 non-null  float64
 53   kills_ct          383317 non-null  int64
 54   deaths_ct         383317 non-null  int64
 55   kddiff_ct         383317 non-null  int64
 56   adr_ct            383317 non-null  float64
 57   kast_ct           383317 non-null  float64
 58   rating_ct         383317 non-null  float64
 59   kills_t           383317 non-null  int64
 60   deaths_t          383317 non-null  int64
 61   kddiff_t          383317 non-null  int64
 62   adr_t             383317 non-null  float64
 63   kast_t            383317 non-null  float64
 64   rating_t          383317 non-null  float64
 65   m1_kills_ct       383317 non-null  int64
 66   m1_deaths_ct      383317 non-null  int64
 67   m1_kddiff_ct      383317 non-null  int64
 68   m1_adr_ct         383317 non-null  float64
 69   m1_kast_ct        383317 non-null  float64
 70   m1_rating_ct      383317 non-null  float64
 71   m1_kills_t        383317 non-null  int64
 72   m1_deaths_t       383317 non-null  int64
 73   m1_kddiff_t       383317 non-null  int64
 74   m1_adr_t          383317 non-null  float64
 75   m1_kast_t         383317 non-null  float64
 76   m1_rating_t       383317 non-null  float64
 77   m2_kills_ct       383317 non-null  int64
 78   m2_deaths_ct      383317 non-null  int64
 79   m2_kddiff_ct      383317 non-null  int64
 80   m2_adr_ct         383317 non-null  float64
 81   m2_kast_ct        383317 non-null  float64
 82   m2_rating_ct      383317 non-null  float64
 83   m2_kills_t        383317 non-null  int64
 84   m2_deaths_t       383317 non-null  int64
 85   m2_kddiff_t       383317 non-null  int64
 86   m2_adr_t          383317 non-null  float64
 87   m2_kast_t         383317 non-null  float64
 88   m2_rating_t       383317 non-null  float64
 89   m3_kills_ct       383317 non-null  int64
 90   m3_deaths_ct      383317 non-null  int64
 91   m3_kddiff_ct      383317 non-null  int64
 92   m3_adr_ct         383317 non-null  float64
 93   m3_kast_ct        383317 non-null  float64
 94   m3_rating_ct      383317 non-null  float64
 95   m3_kills_t        383317 non-null  int64
 96   m3_deaths_t       383317 non-null  int64
 97   m3_kddiff_t       383317 non-null  int64
 98   m3_adr_t          383317 non-null  float64
 99   m3_kast_t         383317 non-null  float64
 100  m3_rating_t       383317 non-null  float64
dtypes: float64(41), int64(51), object(9)
memory usage: 295.4+ MB

In [21]:
display(df_original.isna().sum()) #Verificar a presença de valores ausentes.

Date_          0
player_name    0
team           0
opponent       0
country        0
              ..
m3_deaths_t    0
m3_kddiff_t    0
m3_adr_t       0
m3_kast_t      0
m3_rating_t    0
Length: 101, dtype: int64

In [22]:
df_original.describe() #Verificar as estatísticas descritivas do conjunto de dados numericos

,player_id,match_id,event_id,best_of,kills,assists,deaths,hs,flash_assists,kast,...,m3_kddiff_ct,m3_adr_ct,m3_kast_ct,m3_rating_ct,m3_kills_t,m3_deaths_t,m3_kddiff_t,m3_adr_t,m3_kast_t,m3_rating_t
count,383317.000000,3.833170e+05,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,...,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000,383317.000000
mean,9588.645335,2.319274e+06,3434.342982,2.011815,29.955744,6.973153,29.997209,13.517600,1.172252,66.195782,...,0.115967,9.406286,8.653931,0.127987,1.013707,1.133787,-0.120081,8.556502,8.064032,0.127525
std,4304.463632,1.184550e+04,903.501732,1.017813,16.458563,4.694053,15.432389,8.357248,1.832827,17.824907,...,1.750668,26.968082,24.064772,0.379035,3.105014,3.299005,1.731212,24.858636,22.569595,0.382330
min,2.000000,2.297880e+06,820.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-19.000000,0.000000,0.000000,0.000000
25%,7805.000000,2.309045e+06,2674.000000,1.000000,17.000000,3.000000,18.000000,7.000000,0.000000,61.400000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9353.000000,2.319201e+06,3389.000000,2.000000,26.000000,6.000000,25.000000,12.000000,0.000000,69.200000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,12254.000000,2.329556e+06,4189.000000,3.000000,41.000000,10.000000,40.000000,18.000000,2.000000,76.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,20011.000000,2.339828e+06,5233.000000,5.000000,148.000000,40.000000,129.000000,79.000000,23.000000,100.000000,...,27.000000,270.500000,100.000000,4.850000,32.000000,27.000000,21.000000,378.000000,100.000000,6.470000